.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo-container {
  position: relative;
  text-align: center;
  padding: 1vh 0;
}

.logo {
  width: 25vw;
}

.content-after-logo {
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.person-list-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-items: center;
  overflow-y: auto;
  flex-grow: 1;
}
.floating-plus-button {
  position: fixed;
  bottom: 2vh;
  right: 2vh;
  width: 5vh;
  height: 5vh;
  background: linear-gradient(145deg, #7ec2b6, #88a371);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
