form {
  font-family: Arial, sans-serif;
  display: contents;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group {
  margin-bottom: 1rem;
  width: 80vw;
}
.form-input {
  width: 100%;
  height: 4vh;

  box-sizing: border-box;
  border: 0;
  margin: 0;
  margin: 0 auto;
  padding: 8px;
  border-radius: 5px;
  background-color: aliceblue;
}
.form-label {
  width: 100%;
}
.date {
  width: 80vw;
  color: black;
  font-weight: bold;
}
.result-form-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
/* input {
  width: 90vw;
  margin: 0;
  padding: 8px;
  border: 0;
  font-size: 16px;
}
   */
