.live-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  font-weight: bold;
  text-align: center;
}
.current-settings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vw;
  font-weight: bold;
  text-align: center;
}
.history-settings {
  display: grid;
  grid-template-columns: 1fr;
  font-weight: bold;
  text-align: center;
}

.input-style {
  width: 5vw;
  padding: 10px 0 11px 0;
  margin: 0 10px;
  border: 1px solid #333;
  background-color: #444;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin: 0;
  text-align: center;
}
/* Hide the number input arrows (works for most browsers) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.label {
  padding-bottom: 0.7vh;
}
